p{
    margin: 0px;
    padding: 0px;
}

body{
    /* background-color: rgb(171, 171, 171); */
    /* color: #fcfbff; */
    /* background-color: #13152c; */
}

.rule{
    background-color: #7c64b0;
    width: 5px;
    height: 50px;
    margin: auto;
    box-shadow: 5px 5px 15px 5px rgba(208, 207, 207, 0.31);
}
.ruleDot{
    background-color: #7c64b0;
    border-radius: 100%;
    border: 1px solid white;
    width: 20px;
    height:20px ;
    margin: auto;
    box-shadow: 5px 5px 15px 5px rgba(194, 194, 194, 0.31);
}



.alignCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.customCarrousel{
    border-radius:20px;
    width: 80%;
}

.hoverBrightness{
    filter: brightness(50%);
}
.hoverBrightness:hover{
    filter: brightness(100%);
}

.cardBackground{
    height:100px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px rgba(208, 207, 207, 0.31);
}