/* Fonts ////////////////////// */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/* /////////////////////////////// */

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --body-font: "Open Sans", sans-serif;
}

p {
    margin: 0px;
    padding: 0px;
}

.navBar__font--color{
    color:black
}

.rule {
    background-color: #7c64b0;
    width: 4px;
    height: 50px;
    margin: auto;
    box-shadow: 5px 5px 15px 5px rgba(208, 207, 207, 0.31);
}
.ruleDot {
    background-color: #7c64b0;
    border-radius: 100%;
    border: 1px solid white;
    width: 20px;
    height: 20px;
    margin: auto;
    box-shadow: 5px 5px 15px 5px rgba(194, 194, 194, 0.31);
}

.alignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customCarrousel {
    border-radius: 20px;
    width: 95%;
}

.hoverBrightness {
    filter: brightness(50%);
}
.hoverBrightness:hover {
    filter: brightness(100%);
}

.cardBackground {
    height: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px rgba(208, 207, 207, 0.31);
}
.cardBackground__servicios{
    padding:10px;
}


.contact__input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #ced4da;
    &:focus {
        display: block;
        border-color: #7c64b0;
        border-width: 0 0 3px;
    }
}

.contact__input--textarea {
    min-height: 80px;
    height: 80px;
}

.contact__container {
    border: 1px solid #ced4da;
}

.contact__image {
    width: 100px;
    height: 100px;
}

.list-style-none ul li,
.list-style-none li {
    list-style: none;
}

.footer {
    height: 30px;
    background-color: #7c64b0;
}

.navBar {
    background-color: rgba(133, 117, 202, 0.21);
    backdrop-filter: blur(10px);
    z-index: 3;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 2px 5px 16px 0px #0b325e;
    position: fixed;
    bottom: 0;

    & button {
        background-color: rgba(255, 255, 255, 0);
        border: none;
        border-radius: 15px;
        outline: none;
    }

    & button:active {
        background-color: #efefef;
    }
}

.navBar__controller {
    background-color: rgba(133, 117, 202, 0.21);
    backdrop-filter: blur(10px);
    z-index: 3;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 2px 5px 16px 0px #0b325e;
    position: fixed;
    bottom: 0;

    & button {
        background-color: rgba(255, 255, 255, 0);
        border: none;
        outline: none;
    }

    & button:active {
        background-color: #efefef;
    }
}

.desktopNavbar {
    background-color: rgba(133, 117, 202, 0.21);
    backdrop-filter: blur(10px);
    color: black;
    box-shadow: 3px -12px 20px 0px #0b325e;
    height: 50px;
}

.desktopNavbar {
    display: none;
}

.w-310 {
    width: 310px;
}

.cursor--pointer {
    cursor: pointer;
}

.contact__button{
    border:none;
    outline: none;
    background-color:#7c64b0;
}