---
import Layout from "../../layouts/Layout.astro";

import AboutMe from "../../components/AboutMe.astro";
import Briefcase from "../../components/icons/Briefcase.astro";
import CodeIcon from "../../components/icons/Code.astro";
import Experience from "../../components/Experience.astro";
import ProfileCheck from "../../components/icons/ProfileCheck.astro";
import Projects from "../../components/Projects.astro";
import SectionContainer from "../../components/SectionContainer.astro";
import Hero from "../../components/Hero.astro";

interface I18nData {
  HEADER_PROJECTS_TITLE: string;
  HEADER_ABOUT_TITLE: string;
  HEADER_EXPERIENCE_TITLE: string;
  HEADER_CONTACT_TITLE: string;
  SEO_TITLE: string;
  SEO_DESCRIPTION: string;
  PROJECTS_NAME_SECTION: string;
  ABOUT_NAME_SECTION: string;
  EXPERIENCE_NAME_SECTION: string;
  HERO_BADGE: string;
  HERO_SALUTE: string;
  HERO_DESCRIPTION: string;
  HERO_CONTACT_PILL: string;
  ABOUTME_BASICS_P1: string;
  ABOUTME_BASICS_P2: string;
  ABOUTME_BASICS_P3: string;
  EXPERIENCE_LEARN_MORE: string;
  EXPERIENCE_CURRENTLY: string;
  FOOTER_ABOUT_TITLE: string;
  FOOTER_CONTACT_TITLE: string;
}

import { getI18N } from "../../components/i18n";

const { currentLocale } = Astro;
const i18n: I18nData = getI18N({ currentLocale });
---

<Layout
  title={i18n.SEO_TITLE}
  description="Contrata a estebanhirzfeld para crear tu aplicación web o móvil. Desarrollador Web. Especializado en crear aplicaciones únicas."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>

    <div class="space-y-24">
      <SectionContainer id="proyectos">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <CodeIcon class="size-7" />
          {i18n.PROJECTS_NAME_SECTION}
        </h2>
        <Projects />
      </SectionContainer>
      <SectionContainer id="sobre-mi">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
        >
          <ProfileCheck class="size-8" />
          {i18n.ABOUT_NAME_SECTION}
        </h2>
        <AboutMe />
      </SectionContainer>
      <SectionContainer id="experiencia">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <Briefcase class="size-8" />
          {i18n.EXPERIENCE_NAME_SECTION}
        </h2>
        <Experience />
      </SectionContainer>
    </div>
  </main>
</Layout>
