/* Fonts ////////////////////// */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/* /////////////////////////////// */
* {
  margin: 0px;
  padding: 0px; }

:root {
  --body-font: "Open Sans", sans-serif; }

p {
  margin: 0px;
  padding: 0px; }

.rule {
  background-color: #7c64b0;
  width: 4px;
  height: 50px;
  margin: auto;
  box-shadow: 5px 5px 15px 5px rgba(208, 207, 207, 0.31); }

.ruleDot {
  background-color: #7c64b0;
  border-radius: 100%;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  margin: auto;
  box-shadow: 5px 5px 15px 5px rgba(194, 194, 194, 0.31); }

.alignCenter {
  display: flex;
  justify-content: center;
  align-items: center; }

.customCarrousel {
  border-radius: 20px;
  width: 80%; }

.hoverBrightness {
  filter: brightness(50%); }

.hoverBrightness:hover {
  filter: brightness(100%); }

.cardBackground {
  height: 100px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px rgba(208, 207, 207, 0.31); }

.contact__input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #ced4da; }
  .contact__input:focus {
    display: block;
    border-color: #7c64b0;
    border-width: 0 0 3px; }

.contact__input--textarea {
  min-height: 80px;
  height: 80px; }

.contact__container {
  border: 1px solid #ced4da; }

.contact__image {
  width: 100px;
  height: 100px; }

.list-style-none ul li,
.list-style-none li {
  list-style: none; }

.footer {
  height: 30px;
  background-color: #7c64b0; }

.navBar {
  z-index: 3;
  background-color: white;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 2px 5px 16px 0px #0B325E;
  position: fixed;
  bottom: 0; }
  .navBar button {
    background-color: white;
    border: none;
    border-radius: 15px;
    outline: none; }
  .navBar button:active {
    background-color: #EFEFEF; }

.navBar__controller {
  z-index: 3;
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 2px 5px 16px 0px #0B325E;
  position: fixed;
  bottom: 0; }
  .navBar__controller button {
    background-color: white;
    border: none;
    outline: none; }
  .navBar__controller button:active {
    background-color: #EFEFEF; }

.desktopNavbar {
  color: white;
  border-bottom: 1px solid #beace4;
  box-shadow: 2px -5px 20px 0px #0b325e;
  background-color: #7c64b0;
  height: 50px; }

.desktopNavbar {
  display: none; }

.w-310 {
  width: 310px; }

.cursor--pointer {
  cursor: pointer; }

.switch-button {
  background: rgba(255, 255, 255, 0.56);
  border-radius: 30px;
  overflow: hidden;
  width: 240px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: #7c64b0;
  position: relative;
  padding-right: 120px;
  position: relative; }
  .switch-button:before {
    content: "Trabajo";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    pointer-events: none; }
  .switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2; }
    .switch-button-checkbox:checked + .switch-button-label:before {
      transform: translateX(120px);
      transition: transform 300ms linear; }
    .switch-button-checkbox + .switch-button-label {
      position: relative;
      padding: 15px 0;
      display: block;
      user-select: none;
      pointer-events: none; }
      .switch-button-checkbox + .switch-button-label:before {
        content: "";
        background: #e7e7e7;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 30px;
        transform: translateX(0);
        transition: transform 300ms; }
      .switch-button-checkbox + .switch-button-label .switch-button-label-span {
        position: relative; }

@media (min-width: 1024px) {
  .navBar__controller {
    display: none; }
  .desktopNavbar {
    z-index: 4;
    position: fixed; }
  .header__container {
    padding-top: 80px; } }
