---
import ExperienceItem from "./ExperienceItem.astro";
const { currentLocale } = Astro;
const { work } = await import(`../../cv-${currentLocale}.json`);

---

<ol class="relative mt-16">
  {
    work.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
